@import "../../../../assets/less/uikit";

.battlePass {

  .storage {
    display: flex;
    height: @1080px;
    width: @1920px;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;

    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      user-select: none;
      z-index: 1;

      ::-webkit-scrollbar {
        display: block !important;
        opacity: 1 !important;
        width: @4px !important;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: @4px;
        background-color: #ffffff1a !important;
      }
    }

    &-menu {
      width: @240px;
      flex-direction: column;
      z-index: 9999999999 !important;

      &__name {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: @16px;
        background-color: #f2f2f2;
        border-radius: @4px;
        font-size: @18px !important;
        color: #000;
        margin-bottom: @5px;

        span {
          margin-top: @10px;
          color: #000 !important;
          opacity: .5 !important;
          font-size: @20px !important;
        }
      }

      &__button {
        display: flex;
        width: 100%;
        padding: @16px;
        background-color: #fff;
        border-radius: @4px;
        font-size: @16px !important;
        color: #000;
        margin-bottom: @5px;
        align-items: center;
        transition: .3s;

        img {
          width: @30px;
          margin-right: @16px;
        }

        &:hover {
          background-color: #F2C94C;
        }
      }
    }

    &-block {
      width: @672px;
      height: @732px;
      display: flex;
      flex-direction: column;
      padding: 0 0 0 @29px;
      border: @2px solid #ffffff0f;
      border-radius: @4px;
      margin: 0 @72px;
      transform: translateY(-@10px);


      &__title {
        min-height: @80px;
        max-height: @80px;
        display: flex;
        justify-content: center;
        font-size: @16px !important;
        letter-spacing: .1em;
        flex-direction: column;
        text-transform: uppercase;

        span {
          margin-top: @8px;
          font-size: @16px !important;
          text-transform: none;
          opacity: .6;
        }
      }

      &-list {
        display: grid;
        grid-template-columns: repeat(7, @80px);
        grid-gap: @8px;
        max-height: @620px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: @29px;

        div {
          min-height: @80px;
          background-color: #ffffff0f;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: @4px;

          img {
            width: @50px;
          }
        }
      }
    }

  }

}
