
@dark: #141B1F;

@1px: 0.052083vw;
@2px: 0.1041666666666667vw;
@3px: 0.15625vw;
@4px: 0.2083vw;
@5px: 0.2604166666666667vw;
@6px: 0.3125vw;
@7px: 0.364583vw;
@8px: 0.4166666666666667vw;
@9px: 0.46875vw;
@10px: 0.520834vw;
@11px: 0.5729166666666667vw;
@12px: 0.625vw;
@13px: 0.677083vw;
@14px: 0.729165vw;
@15px: 0.78125vw;
@16px: .833335vw;
@17px: 0.8854166666666667vw;
@18px: .9375vw;
@19px: 0.989583vw;
@20px: 1.041665vw;
@21px: 1.09375vw;
@22px: 1.145835vw;
@23px: 1.197916666666667vw;
@24px: 1.25vw;
@25px: 1.302083vw;
@26px: 1.354165vw;
@27px: 1.40625vw;
@28px: 1.458335vw;
@29px: 1.510416666666667vw;
@30px: 1.5625vw;
@31px: 1.614583vw;
@32px: 1.666666666666667vw;
@33px: 1.71875vw;
@34px: 1.77083vw;
@35px: 1.822916666666667vw;
@36px: 1.875vw;
@37px: 1.927083vw;
@38px: 1.979166666666667vw;
@40px: 2.083vw;
@42px: 2.1875vw;
@43px: 2.239583vw;
@44px: 2.291665vw;
@45px: 2.34375vw;
@46px: 2.39583vw;
@47px: 2.447916666666667vw;
@48px: 2.5vw;
@50px: 2.604vw;
@52px: 2.7083vw;
@54px: 2.8125vw;
@55px: 2.864583vw;
@56px: 2.916666666666667vw;
@57px: 2.96875vw;
@58px: 3.02083vw;
@60px: 3.1255vw;
@62px: 3.229166666666667vw;
@64px: 3.333333333333333vw;
@65px: 3.385416666666667vw;
@66px: 3.4375vw;
@67px: 3.489583vw;
@68px: 3.541666666666667vw;
@70px: 3.64583vw;
@72px: 3.75vw;
@74px: 3.854166666666667vw;
@75px: 3.90625vw;
@76px: 3.958333333333333vw;
@77px: 4.010416666666667vw;
@78px: 4.0625vw;
@80px: 4.166666666666667vw;
@81px: 4.21875vw;
@82px: 4.270833333333333vw;
@84px: 4.375vw;
@85px: 4.427083vw;
@87px: 4.53125vw;
@90px: 4.6875vw;
@91px: 4.739583vw;
@94px: 4.89583vw;
@95px: 4.947916666666667vw;
@97px: 5.052083vw;
@100px: 5.2083vw;
@102px: 5.3125vw;
@104px: 5.416666666666667vw;
@105px: 5.46875vw;
@110px: 5.729166666666667vw;
@114px: 5.9375vw;
@115px: 5.989583vw;
@120px: 6.25vw;
@122px: 6.354166666666667vw;
@125px: 6.510416666666667vw;
@127px: 6.614583333333333vw;
@128px: 6.666666666666667vw;
@130px: 6.77083vw;
@132px: 6.875vw;
@135px: 7.03125vw;
@136px: 7.083333333333333vw;
@138px: 7.1875vw;
@140px: 7.291666666666667vw;
@144px: 7.5vw;
@145px: 7.552083333333333vw;
@150px: 7.8125vw;
@155px: 8.072916666666667vw;
@157px: 8.177083333333333vw;
@160px: 8.3vw;
@162px: 8.4375vw;
@164px: 8.541666666666667vw;
@168px: 8.75vw;
@170px: 8.854166666666667vw;
@172px: 8.9583vw;
@174px: 9.0625vw;
@176px: 9.166666666666667vw;
@180px: 9.375vw;
@182px: 9.479166666666667vw;
@185px: 9.635416666666667vw;
@188px: 9.791666666666667vw;
@189px: 9.84375vw;
@191px: 9.947916666666667vw;
@194px: 10.10416666666667vw;
@196px: 10.2083vw;
@197px: 10.26041666666667vw;
@200px: 10.41666666666667vw;
@204px: 10.625vw;
@207px: 10.78125vw;
@210px: 10.9375vw;
@212px: 11.04166666666667vw;
@219px: 11.40625vw;
@220px: 11.4583vw;
@222px: 11.5625vw;
@225px: 11.71875vw;
@228px: 11.875vw;
@230px: 11.97916666666667vw;
@234px: 12.1875vw;
@236px: 12.29166666666667vw;
@240px: 12.5vw;
@242px: 12.60416666666667vw;
@246px: 12.8125vw;
@250px: 13.02083vw;
@253px: 13.177083vw;
@255px: 13.28125vw;
@256px: 13.3vw;
@258px: 13.4375vw;
@260px: 13.54166666666667vw;
@264px: 13.75vw;
@266px: 13.85416666666667vw;
@268px: 13.95833333333333vw;
@269px: 14.01041666666667vw;
@272px: 14.16666666666667vw;
@273px: 14.21875vw;
@275px: 14.32291666666667vw;
@277px: 14.427083vw;
@280px: 14.583vw;
@281px: 14.63541666666667vw;
@287px: 14.94791666666667vw;
@289px: 15.052083vw;
@290px: 15.10416666666667vw;
@292px: 15.2083vw;
@300px: 15.625vw;
@310px: 16.14583333333333vw;
@315px: 16.40625vw;
@316px: 16.4583vw;
@317px: 16.14583333333333vw;
@320px: 16.66666666666667vw;
@324px: 16.875vw;
@328px: 17.08333333333333vw;
@338px: 17.60416666666667vw;
@348px: 18.125vw;
@350px: 18.22916666666667vw;
@360px: 18.75vw;
@368px: 19.16666666666667vw;
@372px: 19.375vw;
@375px: 19.53125vw;
@380px: 19.79166666666667vw;
@383px: 19.94791666666667vw;
@385px: 20.05208333333333vw;
@386px: 20.10416666666667vw;
@390px: 20.3125vw;
@393px: 20.46875vw;
@400px: 20.83vw;
@402px: 20.9375vw;
@410px: 21.35416666666667vw;
@414px: 21.5625vw;
@418px: 21.77083333333333vw;
@420px: 21.875vw;
@432px: 22.5vw;
@438px: 22.8125vw;
@445px: 23.17708333333333vw;
@450px: 23.4375vw;
@452px: 23.54166666666667vw;
@454px: 23.64583333333333vw;
@460px: 23.9583vw;
@470px: 24.47916666666667vw;
@480px: 25vw;
@490px: 25.52083333333333vw;
@498px: 25.9375vw;
@500px: 26.04166666666667vw;
@506px: 26.35416666666667vw;
@510px: 26.5625vw;
@511px: 26.61458333333333vw;
@520px: 27.083vw;
@528px: 27.5vw;
@530px: 27.60416666666667vw;
@540px: 28.125vw;
@550px: 28.64583vw;
@573px: 29.84375vw;
@585px: 30.46875vw;
@587px: 30.57291666666667vw;
@590px: 30.72916666666667vw;
@618px: 32.1875vw;
@625px: 32.552083vw;
@632px: 32.91666666666667vw;
@639px: 33.28125vw;
@640px: 33.3vw;
@648px: 33.75vw;
@650px: 33.85416666666667vw;
@656px: 34.16666666666667vw;
@672px: 35vw;
@675px: 35.15625vw;
@676px: 35.20833333333333vw;
@684px: 35.625vw;
@699px: 36.40625vw;
@732px: 38.125vw;
@733px: 38.17708333333333vw;
@768px: 40vw;
@770px: 40.10416666666667vw;
@778px: 40.52083vw;
@800px: 41.66666666666667vw;
@802px: 41.77083333333333vw;
@856px: 44.583vw;
@930px: 48.4375vw;
@980px: 51.04166666666667vw;
@992px: 51.66666666666667vw;
@1060px: 55.2083vw;
@1045px: 54.42708333333333vw;
@1068px: 55.625vw;
@1116px: 58.125vw;
@1140px: 59.375vw;
@1152px: 60vw;
@1200px: 62.5vw;
@1203px: 62.65625vw;
@1440px: 75vw;
@1570px: 81.77083vw;
@2024px: 105.4166666666667vw;

.anim {
  transition: all 0.33s ease-in-out;
  -webkit-transition: all 0.33s ease-in-out;
  -moz-transition: all 0.33s ease-in-out;
}

.admin_panel_block {
  .title,.stats_title {
    color: white;
    font-size: @25px;
    text-align: center;
    margin-bottom: @10px;
  }
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: @300px;
  background: rgba(0,0,0,0.8);
  transition: background 0.33s ease-in-out;
  &:hover {
    background: rgba(0,0,0,0.95);
  }
  color: white;
  z-index: 9000;
  padding: @20px;
  align-content: center;
  border-radius: @10px;
  .choiceButton {
    &.textarea {
      width: 100%;
      height: @50px;
    }
    padding: @6px;
    border-radius: @4px;
    background: rgba(255, 255, 255, 0.1);
    font-size: @15px;
    font-weight: 500;
    color: #fff;
    .anim;
    position: relative;
    margin: @2px;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }

    &:active {
      top: @2px;
    }
    // Выбран
    &.selected {
      background: rgba(255, 255, 255, 0.4);
    }
    // Кнопка внизу, самого выполнения
    &.press {
      width: 100%;
      background: rgba(229, 60, 60, 0.7);
      &:hover {
        background: rgba(229, 60, 60, 0.9);
      }
      font-size: @15px;
      display: block;
      padding: @12px;
    }

  }


  .stats_item {
    padding: @5px;
    font-size: @20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: background 0.33s ease-in-out;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}