@dark: #141b1f;

@1px: 0.052083vw;
@2px: 0.1041666666666667vw;
@3px: 0.15625vw;
@4px: 0.2083vw;
@5px: 0.2604166666666667vw;
@6px: 0.3125vw;
@7px: 0.364583vw;
@8px: 0.4166666666666667vw;
@9px: 0.46875vw;
@10px: 0.520834vw;
@11px: 0.5729166666666667vw;
@12px: 0.625vw;
@13px: 0.677083vw;
@14px: 0.729165vw;
@15px: 0.78125vw;
@16px: 0.833335vw;
@17px: 0.8854166666666667vw;
@18px: 0.9375vw;
@19px: 0.989583vw;
@20px: 1.041665vw;
@21px: 1.09375vw;
@22px: 1.145835vw;
@23px: 1.197916666666667vw;
@24px: 1.25vw;
@25px: 1.302083vw;
@26px: 1.354165vw;
@27px: 1.40625vw;
@28px: 1.458335vw;
@29px: 1.510416666666667vw;
@30px: 1.5625vw;
@31px: 1.614583vw;
@32px: 1.666666666666667vw;
@33px: 1.71875vw;
@34px: 1.77083vw;
@35px: 1.822916666666667vw;
@36px: 1.875vw;
@37px: 1.927083vw;
@38px: 1.979166666666667vw;
@40px: 2.083vw;
@42px: 2.1875vw;
@43px: 2.239583vw;
@44px: 2.291665vw;
@45px: 2.34375vw;
@46px: 2.39583vw;
@47px: 2.447916666666667vw;
@48px: 2.5vw;
@50px: 2.604vw;
@52px: 2.7083vw;
@54px: 2.8125vw;
@55px: 2.864583vw;
@56px: 2.916666666666667vw;
@57px: 2.96875vw;
@58px: 3.02083vw;
@60px: 3.1255vw;
@62px: 3.229166666666667vw;
@64px: 3.333333333333333vw;
@65px: 3.385416666666667vw;
@66px: 3.4375vw;
@67px: 3.489583vw;
@68px: 3.541666666666667vw;
@70px: 3.64583vw;
@72px: 3.75vw;
@74px: 3.854166666666667vw;
@75px: 3.90625vw;
@76px: 3.958333333333333vw;
@77px: 4.010416666666667vw;
@78px: 4.0625vw;
@80px: 4.166666666666667vw;
@81px: 4.21875vw;
@82px: 4.270833333333333vw;
@84px: 4.375vw;
@85px: 4.427083vw;
@87px: 4.53125vw;
@90px: 4.6875vw;
@91px: 4.739583vw;
@94px: 4.89583vw;
@95px: 4.947916666666667vw;
@97px: 5.052083vw;
@100px: 5.2083vw;
@102px: 5.3125vw;
@104px: 5.416666666666667vw;
@105px: 5.46875vw;
@110px: 5.729166666666667vw;
@114px: 5.9375vw;
@115px: 5.989583vw;
@120px: 6.25vw;
@122px: 6.354166666666667vw;
@125px: 6.510416666666667vw;
@127px: 6.614583333333333vw;
@128px: 6.666666666666667vw;
@130px: 6.77083vw;
@132px: 6.875vw;
@135px: 7.03125vw;
@136px: 7.083333333333333vw;
@138px: 7.1875vw;
@140px: 7.291666666666667vw;
@144px: 7.5vw;
@145px: 7.552083333333333vw;
@150px: 7.8125vw;
@155px: 8.072916666666667vw;
@157px: 8.177083333333333vw;
@160px: 8.3vw;
@162px: 8.4375vw;
@164px: 8.541666666666667vw;
@168px: 8.75vw;
@170px: 8.854166666666667vw;
@172px: 8.9583vw;
@174px: 9.0625vw;
@176px: 9.166666666666667vw;
@180px: 9.375vw;
@182px: 9.479166666666667vw;
@185px: 9.635416666666667vw;
@188px: 9.791666666666667vw;
@189px: 9.84375vw;
@191px: 9.947916666666667vw;
@194px: 10.10416666666667vw;
@196px: 10.2083vw;
@197px: 10.26041666666667vw;
@200px: 10.41666666666667vw;
@204px: 10.625vw;
@207px: 10.78125vw;
@210px: 10.9375vw;
@212px: 11.04166666666667vw;
@219px: 11.40625vw;
@220px: 11.4583vw;
@222px: 11.5625vw;
@225px: 11.71875vw;
@228px: 11.875vw;
@230px: 11.97916666666667vw;
@234px: 12.1875vw;
@236px: 12.29166666666667vw;
@240px: 12.5vw;
@242px: 12.60416666666667vw;
@246px: 12.8125vw;
@250px: 13.02083vw;
@253px: 13.177083vw;
@255px: 13.28125vw;
@256px: 13.3vw;
@258px: 13.4375vw;
@260px: 13.54166666666667vw;
@264px: 13.75vw;
@266px: 13.85416666666667vw;
@268px: 13.95833333333333vw;
@269px: 14.01041666666667vw;
@272px: 14.16666666666667vw;
@273px: 14.21875vw;
@275px: 14.32291666666667vw;
@277px: 14.427083vw;
@280px: 14.583vw;
@281px: 14.63541666666667vw;
@287px: 14.94791666666667vw;
@289px: 15.052083vw;
@290px: 15.10416666666667vw;
@292px: 15.2083vw;
@300px: 15.625vw;
@310px: 16.14583333333333vw;
@315px: 16.40625vw;
@316px: 16.4583vw;
@317px: 16.14583333333333vw;
@320px: 16.66666666666667vw;
@324px: 16.875vw;
@328px: 17.08333333333333vw;
@338px: 17.60416666666667vw;
@348px: 18.125vw;
@350px: 18.22916666666667vw;
@360px: 18.75vw;
@368px: 19.16666666666667vw;
@372px: 19.375vw;
@375px: 19.53125vw;
@380px: 19.79166666666667vw;
@383px: 19.94791666666667vw;
@385px: 20.05208333333333vw;
@386px: 20.10416666666667vw;
@390px: 20.3125vw;
@393px: 20.46875vw;
@400px: 20.83vw;
@402px: 20.9375vw;
@410px: 21.35416666666667vw;
@414px: 21.5625vw;
@418px: 21.77083333333333vw;
@420px: 21.875vw;
@432px: 22.5vw;
@438px: 22.8125vw;
@445px: 23.17708333333333vw;
@450px: 23.4375vw;
@452px: 23.54166666666667vw;
@454px: 23.64583333333333vw;
@460px: 23.9583vw;
@470px: 24.47916666666667vw;
@480px: 25vw;
@490px: 25.52083333333333vw;
@498px: 25.9375vw;
@500px: 26.04166666666667vw;
@506px: 26.35416666666667vw;
@510px: 26.5625vw;
@511px: 26.61458333333333vw;
@520px: 27.083vw;
@528px: 27.5vw;
@530px: 27.60416666666667vw;
@540px: 28.125vw;
@550px: 28.64583vw;
@573px: 29.84375vw;
@585px: 30.46875vw;
@587px: 30.57291666666667vw;
@590px: 30.72916666666667vw;
@618px: 32.1875vw;
@625px: 32.552083vw;
@632px: 32.91666666666667vw;
@639px: 33.28125vw;
@640px: 33.3vw;
@648px: 33.75vw;
@650px: 33.85416666666667vw;
@656px: 34.16666666666667vw;
@672px: 35vw;
@675px: 35.15625vw;
@676px: 35.20833333333333vw;
@684px: 35.625vw;
@699px: 36.40625vw;
@732px: 38.125vw;
@733px: 38.17708333333333vw;
@768px: 40vw;
@770px: 40.10416666666667vw;
@778px: 40.52083vw;
@800px: 41.66666666666667vw;
@802px: 41.77083333333333vw;
@856px: 44.583vw;
@930px: 48.4375vw;
@980px: 51.04166666666667vw;
@992px: 51.66666666666667vw;
@1060px: 55.2083vw;
@1045px: 54.42708333333333vw;
@1068px: 55.625vw;
@1116px: 58.125vw;
@1140px: 59.375vw;
@1152px: 60vw;
@1200px: 62.5vw;
@1203px: 62.65625vw;
@1440px: 75vw;
@1570px: 81.77083vw;
@2024px: 105.4166666666667vw;

.anim {
  transition: all 0.33s ease-in-out;
  -webkit-transition: all 0.33s ease-in-out;
  -moz-transition: all 0.33s ease-in-out;
}

///////////////////////////

.family-create-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  width: 100%;
  color: #fff;

  & > * {
    position: relative;
    z-index: 20;
  }

  &-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: @768px;
    height: @732px;
    padding: 0 @100px;
    border-radius: 10px;
    background: linear-gradient(145deg, rgba(26,26,27,1) 0%, rgba(17,17,19,1) 50%, rgba(28,20,16,1) 100%), 
      radial-gradient(90.9% 72.78% at 100% 0%, rgba(255, 123, 0, 0.06) 0%, rgba(255, 123, 0, 0) 100%),
      radial-gradient(75.14% 50% at 0% 0%, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 100%);
}


  &__title {
    margin-bottom: @10px;
    font-family: "DKallisto";
    font-size: @36px;
    font-weight: 400;
    text-align: center;
    span {
      color: #FF6F7D;
    }
  }
  &__desc {
    font-family: "Gilroy";
    font-size: @16px;
    font-weight: 400;
    width: @530px;
    text-align: center;
  }

  &__success {
    h1 {
      margin-bottom: @10px;
      font-family: "DKallisto";
      font-size: @36px;
      font-weight: 400;
      text-align: center;
      span {
        color: #FF6F7D;
      }
    }

    p {
      font-family: "Gilroy";
      font-size: @16px;
      font-weight: 400;
      text-align: center;
    }
    &__elements {
      width: @650px;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      gap: @20px;
    }
    &__element {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      flex: 1;
      height: @75px;
      box-sizing: content-box;

      border-radius: @3px;

      padding: @20px;

      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(153, 153, 153, 0.0765) 0%,
        rgba(255, 255, 255, 0.0795) 100%
      );

      p {
        text-align: left;
        width: @258px;
        font-family: "Gilroy";
        font-size: @14px;
        font-weight: 400;
      }

      &__title {
        margin-bottom: @10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: @10px;

        img {
          max-width: @24px;
          max-height: @25px;
        }

        h3 {
          font-family: "DKallisto";
          font-size: @18px;
          font-weight: 400;
        }
      }
    }
  }
}

.title-main {
  font-style: normal;
  font-weight: bold;
  font-size: @60px;
  line-height: 130%;
  color: #fff;

  span.thin {
    font-weight: 300;
  }

  margin-bottom: @32px;
}

p.desc-main {
  font-size: @18px;
  line-height: 140%;
  margin-bottom: @32px;
}

.input-wrap-all {
  position: relative;
  width: 100%;
  margin-bottom: @16px;

  &.input-labelin {
    input {
      padding: @20px;
      margin-top: 0;
      padding-top: @38px;
    }

    p {
      position: absolute;
      top: @20px;
      left: @20px;
      width: 100%;
    }

    &.input-centered {
      input {
        text-align: center;
      }

      p {
        left: 0;
        text-align: center;
      }
    }
  }

  p {
    font-weight: 500;
    font-size: @12px;
    color: rgba(255, 255, 255, 0.4);
  }

  input {
    width: 100%;
    text-align: left;
    padding-left: @37px;
    background: rgba(255, 255, 255, 0.05);
    border: @1px solid rgba(255, 255, 255, 0.3);
    font-weight: bold;
    font-size: @22px;
    border-radius: @4px;
    color: #fff;
  }

  &.change-pincode {
    input {
      letter-spacing: 0.23em;

      &::placeholder {
        letter-spacing: 0.23em;
        transform: translateY(10%);
      }
    }
  }

  button {
    background-color: transparent;
    position: absolute;
    right: @18px;
    top: 50%;
    transform: translateY(-50%);
    width: @24px;
    height: @24px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }

    &.eyepass,
    &.repeateyepass,
    &.neweyepass {
      &:after,
      &:before {
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        .anim;
      }

      &:after {
        background: url("../UserMenu/assets/svg/eye-off.svg") no-repeat center
          center;
        transform: translate(-50%, -50%) scale(1);
        background-size: 100%;
      }

      &:before {
        background: url("../UserMenu/assets/svg/eye.svg") no-repeat center
          center;
        transform: translate(-50%, -50%) scale(0);
        background-size: 100%;
      }

      &.active {
        &:after {
          transform: translate(-50%, -50%) scale(0);
        }

        &:before {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }

  &.input-tc {
    input {
      text-align: center;
    }

    p {
      left: 50%;
      width: auto;
      transform: translate(-50%);
      text-align: center;
    }
  }
}

.fc-wows {
  margin-bottom: 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  gap: @10px !important;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: @150px;
    height: @150px;
    aspect-ratio: 1;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(153, 153, 153, 0.0765) 0%,
      rgba(255, 255, 255, 0.0795) 100%
    );

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin-bottom: 0 !important;
    }
  }

  & > div {
    margin-top: @20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: @10px;

    p {
      background: #FF6F7D33;
      width: @150px;
      height: @40px;
      border-radius: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #FF6F7D;
      font-family: "DKallisto";
      font-size: @14px !important;
      font-weight: 400 !important;
    }
  }
}

.form-create-family {
  max-width: calc(@150px + @150px + @150px + @150px + @30px);
  width: 100% !important;

  &__name {
    margin: @10px;
    margin-top: @20px;
    width: calc(@150px + @150px + @150px + @150px + @30px);
    h1 {
      margin-bottom: @10px;
      font-family: "DKallisto";
      font-size: @18px;
      font-weight: 400;
      text-align: center;
    }
    input {
      margin-bottom: @20px;
      padding-left: @20px;
      color: #ffffff;
      font-size: @16px;
      width: 100%;
      height: @50px;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(153, 153, 153, 0.0765) 0%,
        rgba(255, 255, 255, 0.0795) 100%
      );

      border: 0.5px solid #ffffff26;

      &:focus {
        border: 0.5px solid #ffffff26;
        outline: none;
      }
    }
  }

  &__btn {
    width: 100%;
    height: @50px;
    border-radius: @3px;
    margin-top: @10px;
    border: none;

    background: radial-gradient(
      50% 61.95% at 50% 50%,
      #FF6F7D 0%,
      #e73d4e 100%
    );
    color: #ffffff;
    box-shadow: 0px 0px @50px 0px #FF6F7D inset;
    font-family: "Gilroy";
    font-size: @16px;
    transition: 0.3s;

    &:hover {
      background: radial-gradient(
        50% 61.95% at 50% 50%,
        #2c1906 0%,
        #e73d4e 100%
      );
    }
  }

  &__controls {
    width: 100%;
    display: flex;
    align-items: center;
    gap: @10px;

    &__currency {
      padding: 0 @15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: @50px;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(153, 153, 153, 0.0765) 0%,
        rgba(255, 255, 255, 0.0795) 100%
      );
      border: 0.5px solid #ffffff26;
      border-radius: @2px;
      transition: 0.3s;

      &:hover,
      &.selected {
        background: #FF6F7D33;
        border: 1px solid #FF6F7D;
      }

      h1 {
        font-family: "Gilroy";
        font-size: @16px;
        font-weight: 400;
        margin-bottom: 0;
      }

      h2 {
        font-family: "DKallisto";
        font-size: @16px;
        font-weight: 400;
        color: #FF6F7D;
      }
    }
    .donate {
      h2 {
        color: #ffffff;

        span {
          color: #FF6F7D;
        }
      }
    }
  }
}

.main-but {
  width: 100%;
  padding: @30px @50px;
  height: @80px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: @4px;
  background: linear-gradient(131deg, #f39654 0%, #e83d40 60.42%, #be1622 100%);
  box-shadow: 0px 5.28986px 52.8986px rgba(240, 38, 38, 0);
  .anim;

  &:hover {
    box-shadow: 0px @6px @50px rgba(240, 38, 38, 0.55),
      0 0 0 @6px rgba(240, 38, 38, 0.3);
  }

  p {
    font-weight: 800;
    font-size: @18px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }

  &:active {
    transform: scale(0.94, 0.94);
  }
}

.fc-enter-cash {
  display: flex;
  align-items: center;
}

.fc-enter-cash {
  margin-bottom: @16px;
  box-shadow: inset 0 0 0 @2px rgba(255, 255, 255, 0.2);
  border-radius: @6px;

  .checkbox {
    display: none;
    opacity: 0;
    text-indent: -3000em;
    position: absolute;

    & + label {
      cursor: pointer;
      font-size: 0;
      position: relative;
      user-select: none;
      padding: @18px @24px;
      border-radius: @6px;
      width: 100%;
      .anim;

      &:first-child {
        border-right: @2px solid rgba(255, 255, 255, 0.1);
      }
    }

    // &:not(checked) {
    //     & + label {}
    // }

    &.checked {
      & + label {
        background: #FF6F7D;
      }
    }
  }

  .money-info {
    p {
      small {
        font-weight: normal;
        font-size: @12px;
        line-height: 100%;
      }

      strong {
        font-weight: bold;
        font-size: @24px;
        white-space: nowrap;
      }

      img {
        width: @24px;
        height: @24px;
        margin-right: @8px;
      }

      &:last-child {
        margin-top: @6px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: nowrap;
      }
    }
  }
}

.fc-create-succes-info {
  width: @310px;
  display: flex;
  flex-direction: column;
  padding: @40px 0;

  & > div {
    width: 100%;
    display: grid;
    grid-template-columns: @64px 1fr;
    grid-gap: @24px;
    margin-bottom: @32px;

    i {
      width: 100%;
      height: 100%;
      border-right: @2px solid rgba(255, 255, 255, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: @24px;
        height: @24px;
      }
    }

    p {
      font-weight: normal;
      font-size: @16px;
      line-height: 140%;
    }
  }
}

.family-create-wrapper.success {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(20, 68, 51, 0.9);
    z-index: 1;
  }
}

.family_buy {
  margin-bottom: 1.5vw;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5vw 1vw;
  min-width: 9vw;
  max-width: 11vw;
  background: #FF6F7D;
  border-radius: 4px;
  font-style: normal;
  font-weight: 800;
  font-size: 1vw;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  &:hover {
    box-shadow: 0px 4px 100px rgba(240, 77, 38, 0.5);
  }
}
.family_blur {
  z-index: 99998;
  width: 100vw;
  height: 100vh;
  background: #141b1f;
  opacity: 0.8;
  //    filter: blur(99px);
  position: absolute;
}
.family_paybox {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: radial-gradient(
    70.74% 70.74% at 50% 50%,
    #141b1fcc 43.75%,
    #141b1f11 100%
  );
  display: flex;
  z-index: 99999;
  justify-content: center;
  align-items: center;
  & .family_paybox_box {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    //		align-items: center;
    & .paybox_main {
      margin-bottom: 3vw;
    }
    & .paybox_h1 {
      margin-bottom: 2vw;
    }
  }
}
