@font-face 
    font-family: Akrobat
    font-style: normal
    font-weight: 300
    src: url(./assets/fonts/Akrobat/Akrobat-Light.ttf)


@font-face 
    font-family: Akrobat
    font-style: normal
    font-weight: 500
    src: url(./assets/fonts/Akrobat/Akrobat-Regular.ttf)


@font-face 
    font-family: Akrobat
    font-style: normal
    font-weight: 200
    src: url(./assets/fonts/Akrobat/Akrobat-ExtraLight.ttf)


@font-face 
    font-family: Akrobat
    font-style: normal
    font-weight: 600
    src: url(./assets/fonts/Akrobat/Akrobat-SemiBold.ttf)


@font-face 
    font-family: Akrobat
    font-style: normal
    font-weight: 100
    src: url(./assets/fonts/Akrobat/Akrobat-Thin.ttf)


@font-face 
    font-family: Akrobat
    font-style: normal
    font-weight: bold
    src: url(./assets/fonts/Akrobat/Akrobat-Bold.ttf)


@font-face 
    font-family: Akrobat
    font-style: normal
    font-weight: 900
    src: url(./assets/fonts/Akrobat/Akrobat-Black.ttf)


@font-face 
    font-family: Akrobat
    font-style: normal
    font-weight: 800
    src: url(./assets/fonts/Akrobat/Akrobat-ExtraBold.ttf)

