@import "../../../assets/less/uikit";

.barbershop {
  //    background-image: url('./../../Personage/assets/bg_person.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: @50px;

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: @20px;
    position: absolute;
    right: 0;
    box-sizing: content-box;

    width: @348px;
    height: @88px;
    border-radius: @10px;

    background: linear-gradient(0deg, #111113, #111113),
      radial-gradient(
        91.4% 157.21% at 100% 0%,
        rgba(9, 255, 0, 0.06) 0%,
        rgba(51, 255, 0, 0) 100%
      ),
      radial-gradient(
        133.12% 98.27% at -2.97% -13.5%,
        rgba(255, 255, 255, 0.06) 0%,
        rgba(255, 255, 255, 0) 100%
      );

    &__top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-family: "DKallisto";
        font-size: @18px !important
        ;
        font-weight: 400;
      }

      h2 {
        font-family: "DKallisto";
        font-size: @18px !important;
        font-weight: 400;

        color: #2e8a1c;
        text-shadow: 0px 0px 18.5px 0px #1fb91a99;
      }
    }
    &__btn {
      color: #ffffff;
      width: 100%;
      height: @40px;
      border-radius: 2px;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(153, 153, 153, 0.051) 0%,
        rgba(255, 255, 255, 0.053) 100%
      );
      border: 0.5px solid #ffffff26;
      transition: 0.3s;
      font-size: @14px;

      &:hover {
        border: 0.5px solid #17cc1199;
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(29, 187, 24, 0.5) 0%,
          rgba(19, 146, 14, 0.265) 100%
        );
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__title {
      font-size: @24px !important;
      font-weight: 100;
      margin-bottom: @20px;

      h1 {
        margin-bottom: 0px;
        display: flex;
        justify-content: start;
        align-items: start;
        text-transform: uppercase;
        gap: 7px;
        font-family: "DKallisto", Arial, sans-serif;
        font-size: inherit;
        font-weight: 100;

        span {
          color: #2e8a1c;
        }
      }

      p {
        font-family: "Gilroy", Arial, sans-serif;
        font-size: @16px;
        font-weight: 400;
        margin-top: @10px;
      }
    }
    &__exit {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: @10px;

      p {
        font-family: "Gilroy";
        font-size: @16px;
        font-weight: 400;
      }
      &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: @40px;
        height: @40px;
        border-radius: 2px;
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(153, 153, 153, 0.0765) 0%,
          rgba(255, 255, 255, 0.0795) 100%
        );
        border: 0.5px solid #ffffff26;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          border: 0.5px solid #17cc1199;
          background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(29, 187, 24, 0.5) 0%,
            rgba(19, 146, 14, 0.265) 100%
          );
        }
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: column;
    gap: @15px;
    padding: @20px;
    width: calc(@450px + 10px);
    height: calc(@555px + @25px);
    border-radius: @10px;
    background: linear-gradient(0deg, #111113, #111113),
      radial-gradient(
        90.9% 72.78% at 100% 0%,
        rgba(0, 255, 13, 0.06) 0%,
        rgba(9, 255, 0, 0) 100%
      ),
      radial-gradient(
        75.14% 50% at 0% 0%,
        rgba(255, 255, 255, 0.06) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    & .pers_box_color {
      display: flex;
      margin-top: @15px;
      background: linear-gradient(0deg, #111113, #111113),
        radial-gradient(
            91.4% 157.21% at 100% 0%,
            rgba(255, 123, 0, 0.06) 0%,
            rgba(255, 123, 0, 0) 100%
          )
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(
          133.12% 98.27% at -2.97% -13.5%,
          rgba(255, 255, 255, 0.06) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      border-radius: @10px;
      &.absolute {
        position: absolute;
        bottom: -@10px;
        left: 0;
        padding: @20px;
        transform: translate(0, 100%);
        width: @440px;
        height: calc(@165px + @40px);
        & .pers_box_color_box {
          width: 50%;

          &_colors {
            width: @190px;
          }
        }
      }
      &.pers_box_color_ex {
        justify-content: space-between;
        flex-wrap: nowrap;
        max-height: 20vh;
      }
      & .pers_box_color_box {
        box-sizing: border-box;
        border-radius: 4px;

        display: flex;
        flex-wrap: wrap;
        // margin-bottom: 1rem;
        overflow: hidden;
        // overflow-y: scroll;
        gap: 5px;

        &_colors {
          display: flex;
          flex-wrap: wrap;
          overflow-x: hidden;
          overflow-y: auto;
          height: 100%;
          gap: 5px;
          padding-right: @1px;
          box-sizing: content-box;
          &::-webkit-scrollbar {
            width: 5px; /* Latimea scrollbar-ului */
            display: block;
          }

          /* Stilizeaza thumb-ul (partea care se misca pe scroll) */
          &::-webkit-scrollbar-thumb {
            background: #ffffff; /* Culoarea thumb-ului */
            border-radius: 5px; /* Colturi rotunjite */
          }

          /* Stilizeaza track-ul (fundalul scrollbar-ului) */
          &::-webkit-scrollbar-track {
            background: #ffffff1a; /* Culoare de fundal pentru scrollbar */
            border-radius: 5px; /* Colturi rotunjite */
          }
        }
        /* Stilizeaza bara de scroll */

        & p {
          margin-bottom: @10px;
          font-style: normal;
          line-height: 100%;
          color: #ffffff;
          width: 100%;
          font-family: "DKallisto";
          font-weight: 400;
          font-size: @16px !important;
        }
        & .pers_box_color_item {
          //   width: 1.25rem;
          //   height: 1.25rem;
          //   border-radius: 4px;
          //   cursor: pointer;
          //   margin: 0.2rem;
          //   &.color_item_select {
          //     border: 1px solid #ffffff;
          //     box-sizing: border-box;
          //     // box-shadow: 0px 4px 24px #ffffff;
          //     border-radius: 4px;
          //   }

          width: @22px;
          height: @22px;
          border-radius: @2px;
          transition: 0.3s;
          border: @2px solid #404041;

          &:hover {
            border: @2px solid #1a971699;
          }
          &.color_item_select {
            border: @2px solid #1a971699;
          }

          &.initial {
            border: @2px solid #dfdfdf;
          }
        }
        // &::-webkit-scrollbar {
        //   width: 0.2rem;
        // }
        // &::-webkit-scrollbar-track {
        //   box-shadow: inset 0 0 0.2rem rgba(85, 85, 85, 0);
        // }
        // &::-webkit-scrollbar-thumb {
        //   background-color: #FF6F7D;
        // }
      }
    }
    & .pers_box_body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      overflow-x: hidden;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 0.1rem;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0.2rem rgba(85, 85, 85, 0.3);
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(169, 169, 169, 0.616);
        outline: 0.1rem solid rgba(112, 128, 144, 0.788);
      }
      & div {
        &:hover {
          & p.pers_p_with_border {
            color: #ffffff;
          }
        }
      }
      & p.pers_p_with_border {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        font-style: normal;
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 100%;
        color: #ffffffc2;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
    & .pers_box_face {
      width: 100%;
      height: 100%;
      display: flex;
      gap: @15px;

      & .pers_face_type {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 8vh;
        min-width: 5rem;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;

        .pers_face_div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 20%;
          cursor: pointer;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          &.pers_face_select {
            background: #168f20;
          }
        }
      }

      & .pers_hair_subtype {
        overflow-x: hidden;
        overflow-y: scroll;

        // width: calc(100% - 8vh);
        // min-width: 25rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: hidden;
        overflow-y: scroll;
        gap: @5px;
        & img {
          width: @70px;
          height: @70px;
          background-color: #141b1f99;
          border-radius: 0.2rem;
          cursor: pointer;
          border: 2px solid #ffffff26;
          transition: 0.3s;
          opacity: 0.7;
          position: relative;

          &.pers_parent_select {
            border: 2px solid #1a971699;
            opacity: 1;
          }
          &:hover {
            border: 2px solid #1a971699;
            opacity: 1;
          }
          &.initial {
            border: 2px solid #dfdfdfa4;
          }
        }
        &::-webkit-scrollbar {
          width: 5px; /* Latimea scrollbar-ului */
          display: block;
        }

        /* Stilizeaza thumb-ul (partea care se misca pe scroll) */
        &::-webkit-scrollbar-thumb {
          background: #ffffff; /* Culoarea thumb-ului */
          border-radius: 5px; /* Colturi rotunjite */
        }

        /* Stilizeaza track-ul (fundalul scrollbar-ului) */
        &::-webkit-scrollbar-track {
          background: #ffffff1a; /* Culoare de fundal pentru scrollbar */
          border-radius: 5px; /* Colturi rotunjite */
        }
      }
      & .pers_face_subtype {
        width: 100%;
        // padding: 10%;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: @20px;

        & div {
          &:hover {
            & p.pers_p_with_border {
              color: #ffffff;
            }
          }
        }
        & p.pers_p_with_border {
          margin-bottom: 1rem;
          padding-bottom: 1rem;
          font-style: normal;
          font-weight: 500;
          font-size: 0.9rem;
          line-height: 100%;
          color: #ffffffc2;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        &::-webkit-scrollbar {
          width: 0.1rem;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 0.2rem rgba(85, 85, 85, 0.3);
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(169, 169, 169, 0.616);
          outline: 0.1rem solid rgba(112, 128, 144, 0.788);
        }
      }
    }

    & .pers_box_parent {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row-reverse;
      & .pers_parent_face {
        width: calc(100% - 8vh);
        // min-width: 25rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem;
        overflow-x: hidden;
        overflow-y: scroll;
        & img {
          margin: 0.5rem;
          width: calc(25% - 1.1rem);
          height: auto;
          // height: auto;
          background-color: #141b1f99;
          border-radius: 0.2rem;
          padding: 1rem 0.5rem 0 0.5rem;
          cursor: pointer;
          & .pers_parent_select {
            // border: 1px solid #f6704e9f;
            // border: 2px solid red !important;
            box-sizing: border-box;
          }
        }
        &::-webkit-scrollbar {
          width: 0.1rem;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 0.2rem rgba(85, 85, 85, 0.3);
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(169, 169, 169, 0.616);
          outline: 0.1rem solid rgba(112, 128, 144, 0.788);
        }
      }
      & .pers_parent_type {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 8vh;
        min-width: 5rem;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;

        .perent_div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 20%;
          cursor: pointer;
          &:first-child {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          }
          &:last-child {
            border-top: 1px solid rgba(255, 255, 255, 0.3);
          }
          &.perent_select {
            background: #188d22;
          }
        }
        .perent_slider {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50%;
          & p {
            position: absolute;
            transform: rotate(270deg);
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            line-height: 100%;
            text-align: center;
            color: #ffffff;
            opacity: 0.6;
            margin: 0;
            padding: 0;
            margin-left: -3vh;
          }
        }
      }
    }
  }

  &__add__btn {
    &__content {
      padding: 0 10px;
      width: 295px;
      height: 46px;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(153, 153, 153, 0.051) 0%,
        rgba(255, 255, 255, 0.053) 100%
      );
      border: 0.5px solid #ffffff26;

      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-bottom: 0;
        font-family: "Gilroy";
        font-weight: 400;
        font-size: 16px;
      }

      img {
        border: 0.5px solid #ffffff26;
        transition: 0.3s;

        &:hover {
          border: 0.5px solid #1a971699;
        }
      }
    }

    h1 {
      font-family: "Gilroy";
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__types {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: @10px;
    height: @788px;
  }
  &__type {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(153, 153, 153, 0.051) 0%,
      rgba(255, 255, 255, 0.053) 100%
    );
    border: 0.5px solid #ffffff26;
    border-radius: 2px;
    width: @100px;
    height: @100px;
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: @7px;
    transition: 0.3s;

    img {
      margin-top: @20px;
      max-width: @45px;
      max-height: @45px;
    }

    &:hover,
    &.selected {
      border: 0.5px solid #1a971699;
    }

    h1 {
      margin-bottom: @20px;
      font-family: "Times New Roman";
      font-size: @16px;
      font-weight: 400;
    }
  }

  & .barbershop_box {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    & .pers_box_left {
      &:first-child {
        margin-bottom: 20vh;
      }
    }
    & .barbershop_info {
      //   display: flex;
      //   justify-content: space-between;
      //   align-items: center;
      //   width: 100%;
      //   min-width: 30rem;
      //   width: 40vh;
      //   margin: 1vh 1vh;

      //   h1 {
      //     font-style: normal;
      //     font-weight: 800;
      //     font-size: 2vw;
      //     line-height: 100%;
      //     text-transform: uppercase;
      //     color: #ffffff;
      //     text-shadow: 0px 4px 24px rgba(255, 255, 255, 0.25);
      //   }
      //   h2 {
      //     font-style: normal;
      //     font-weight: normal;
      //     font-size: 1vw;
      //     line-height: 100%;
      //     color: #ffffff;
      //     opacity: 0.6;
      //     text-shadow: 0px 4px 24px rgba(255, 255, 255, 0.25);
      //   }
      //   & .barbershop_key {
      //     //                margin-top:1vw;
      //     cursor: pointer;
      //     display: flex;
      //     justify-content: space-around;
      //     align-items: center;
      //     padding: 0.5vw 1vw;
      //     min-width: 9vw;
      //     background: #FF6F7D;
      //     &.reset {
      //       background: #1358cf;
      //       min-width: 5vw;
      //     }
      //     border-radius: 4px;
      //     font-style: normal;
      //     font-weight: 800;
      //     font-size: 1vw;
      //     line-height: 100%;
      //     text-align: center;
      //     text-transform: uppercase;
      //     color: #ffffff;
      //     &:hover {
      //       box-shadow: 0px 4px 100px rgba(240, 77, 38, 0.5);
      //     }
      //   }
    }
  }
}
.parameter {
  h1 {
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 16px;
  }

  &-line {
    width: 100%;
    height: 6px;

    input {
      width: 100%;
    }

    input[type="range"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      height: 2px;
      outline: none;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }

    input[type="range"]::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }

    input[type="range"]::-ms-thumb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }
  }
}
