@use "sass:math";

@function pxToRem($pxValue, $scale: 1) {
  @return math.div($pxValue, 16px) * $scale * 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.license {
  position: fixed;
  top: 35%;
  left: 50%;
  // transform: translate(-50%, -50%); // centrează pe ecran
  transform: translate(-50%, -50%) scale(0.55); // scade scara la ~55% din mărimea actuală

  z-index: 9999; // ca să fie deasupra
  width: auto;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  // width: 100%;
  // height: 100%;

  // display: flex;
  // justify-content: center;
  // align-items: center;

  // text-transform: uppercase;

  &_image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    position: relative;

    &_block{ 
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      position: relative;
    }

    &_img {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      width: 100%;
      height: auto;

      border-radius: pxToRem(10px);

      object-fit: cover;

      transform: rotate(90deg);

      aspect-ratio: 4/3;

      scale: 1.2;

      margin-top: pxToRem(45px);
    }
  }

  &-box {
    width: pxToRem(800px);
    min-height: pxToRem(460px);
    background-size: cover;
    // background-image: url('./bg.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
  
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    color: #000;

    display: grid;
    grid-template-columns: 2fr 6fr 0fr;
    gap: pxToRem(10px);

    padding: pxToRem(30px);

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  &-data {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    color: rgba(65,64,66);

    input[type="checkbox"] {
      width: pxToRem(16px);
      height: pxToRem(16px);
      // border-radius: 50%;
      border: 1px solid #000;
      color: #FFF;
      position: relative;
      appearance: none;
      cursor: pointer;

      &:checked {
        background-color: #000;
        
        &::after {
          content: '';
          position: absolute;
          left: pxToRem(4px);
          top: pxToRem(1px);
          width: pxToRem(7px);
          height: pxToRem(9px);
          border: solid #FFF;
          border-width: 0 pxToRem(2px) pxToRem(2px) 0;
          transform: rotate(45deg);
        }
      }
    }

    &-info {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;
      gap: pxToRem(20px);
    }

    &-row {
      width: 100%;
      height: auto;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: pxToRem(5px);

      color: rgba(32, 32, 32);

      font-size: pxToRem(16px);

      &-small {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: pxToRem(5px);

        &-value {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          width: 100%;

          img {
            width: pxToRem(60px);
            height: auto;
          }
        }

        &-spacer {
          width: fit-content;
        }
      }

      &-medium {
        width: 100%;
        height: auto;

        display: grid;
        grid-template-columns: 3fr 1fr 4fr;
        gap: pxToRem(5px);

        &:nth-child(2) {
          grid-template-columns: 2fr 1fr 1fr;
        }
      }
    }
  }

  &-name {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: pxToRem(10px);

    &-title {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;


      font-size: pxToRem(24px);

      b {
        font-weight: 700;

        margin-right: pxToRem(7px);
      } 
    }

    &-serial {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      gap: pxToRem(15px);

      font-size: pxToRem(16px);
      font-weight: 500;

      padding-bottom: pxToRem(50px);
    }
  }
}