// RESET CSS START
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
//RESET CSS END

@font-face {
  font-family: "DKallisto";
  src: url("../fonts/d_kallisto.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.garbsingle-container-box {
  user-select: none;
  position: fixed;
  inset: 0;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // background-image: url(../img/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .garbsingle-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 1080px;

    .garbsingle-exit {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      position: absolute;
      top: 50px;
      right: 50px;
      z-index: 99;

      p {
        font-family: "Gilroy";
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
      }

      .exit-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background: radial-gradient(50% 50% at 50% 50%,
            rgba(153, 153, 153, 0.0765) 0%,
            rgba(255, 255, 255, 0.0795) 100%);
        border: 0.5px solid #ffffff26;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: #FF6F7D33;
          border: 1px solid #FF6F7D;
        }
      }

    }

    .garbsingle-gas-station-box {
      overflow: hidden;
      position: relative;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-direction: column;
      padding: 30px;
      width: 897px;
      height: 338px;
      border-radius: 10px;
      background: linear-gradient(0deg, #111113, #111113),
        radial-gradient(
          90.9% 72.78% at 100% 0%,
          rgba(255, 123, 0, 0.06) 0%,
          rgba(255, 123, 0, 0) 100%
        ),
        radial-gradient(
          75.14% 50% at 0% 0%,
          rgba(255, 255, 255, 0.06) 0%,
          rgba(255, 255, 255, 0) 100%
        );

      .garbsingle-builder {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .garbsingle-left {
        width: 550px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 20px;

        .garbsingle-title {
          font-size: 24px;
          font-weight: 100;

          display: flex;
          justify-content: center;
          align-items: start;
          flex-direction: column;

          .garbsingle-title-img {
            display: flex;
            gap: 10px;
            align-items: center;
            border-radius: 2px;

            img {
              flex-shrink: 0;
              width: 28px;
            }

            h1 {
              margin-bottom: 0px;
              text-transform: uppercase;
              font-family: "DKallisto", Arial, sans-serif;
              text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.60);
              display: flex;
              gap: 10px;
              width: 550px;

              span {
                color: #FF6F7D;
                flex-wrap: wrap;
              }
            }
          }

          p {
            margin-top: 12px;
            font-family: "Gilroy", Arial, sans-serif;
            font-size: 16px;
            font-weight: 400;
            width: 540px;
          }
        }
      }

      .garbsingle-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        .garbsingle-salary {
          width: 541px;
          height: 48px;
          background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(153, 153, 153, 0.0408) 0%,
            rgba(255, 255, 255, 0.0424) 100%
          );
          border: 0.5px solid #ffffff26;
          padding: 0 20px;

          font-family: "Gilroy";
          font-size: 14px;
          font-weight: 400;

          display: flex;
          justify-content: space-between;
          align-items: center;

          h2 {
            color: #FF6F7D;
            span {
              color: #ffffff;
            }
          }
        }

        button {
          border: 1px solid #ffffff;
          width: 504px;
          height: 40px;
          background: transparent;
          color: #ffffff;
          font-family: "Gilroy";
          font-size: 16px;
          font-weight: 400;
          transition: 0.3s;
          border-radius: 2px;

          &:hover {
            background: #252525;
          }
        }

        .garbsingle-controls-top {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          button {
            width: 540px;
            height: 46px;
            background: linear-gradient(
              92.5deg,
              #ce465a 0%,
              #ff6f7d 50%,
              #ce465a 100%
            );
            box-shadow: 0px 4px 13.5px 0px #ff95a5 inset;
            border: none;
            font-family: "Gilroy";
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            transition: 0.3s;
            border-radius: 2px;

            &:hover {
              background: linear-gradient(
                92.5deg,
                #a13c52 0%,
                #ff6f7d 50%,
                #a13c52 100%
              );
            }
          }
        }
      }

      .garbsingle-sessions-box {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 10px;

        .garbsingle-salary {
          width: 496px;
          height: 48px;
          background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(153, 153, 153, 0.0408) 0%,
            rgba(255, 255, 255, 0.0424) 100%
          );
          border: 0.5px solid #ffffff26;
          padding: 0 20px;

          font-family: "Gilroy";
          font-size: 14px;
          font-weight: 400;

          display: flex;
          justify-content: space-between;
          align-items: center;

          h2 {
            color: #FF6F7D;
            span {
              color: #ffffff;
            }
          }
        }
        

        .garbsingle-session-controls {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;

          .garbsingle-join,
          .garbsingle-back {
            width: 540px;
            height: 46px;
            border-radius: 2px;
            background: linear-gradient(
              92.5deg,
              #ce465a 0%,
              #ff6f7d 50%,
              #ce465a 100%
            );
            box-shadow: 0px 4px 13.5px 0px #ff95a5 inset;
            color: #ffffff;
            font-family: "Gilroy";
            font-size: 16px;
            font-weight: 400;
            transition: 0.3s;

            &:hover {
              background: linear-gradient(
                92.5deg,
                #a13c52 0%,
                #ff6f7d 50%,
                #a13c52 100%
              );
            }
          }

          .garbsingle-back {
            border: 1px solid #ffffff;
            background: #FFFFFF33;
            box-shadow: none;

            &:hover {
              background: #252525;
            }
          }
        }
      }

      .garbsingle-content {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
