.hud-claimRewards {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 28.241vh;

  display: flex;
  flex-direction: column;
  padding: 1.852vh;

  width: 27.778vh;
  height: 7.037vh;
  flex-shrink: 0;
  background: radial-gradient(107.62% 66.17% at 50% 100%, rgba(0, 255, 13, 0.16) 0%, rgba(0, 255, 34, 0) 100%), linear-gradient(0deg, #151518 -73.5%, rgba(21, 21, 24, 0.00) 100%);


  color: #0a8005;
  font-family: "DKallisto";
  font-size: 1.481vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  span {
    color: #FFF;
    font-family: Gilroy;
    font-size: 1.296vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 4px 11px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.06);
    width: fit-content;
  }


  img {
    height: 100%;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
  }



}