node_modules
/server/packages/
/server/client_packages/
/server/log/errorLog.log
/server/nosql/
/server/
pnpm-lock.yaml
/src/cef/pnpm-lock.yaml
!server/client_packages/game_resources/
client_packages/
nosql/
signature/
.pnpm-store/

.idea
.vscode
.vs
.env