@import "../../sizes.less";
@import "../../../../../assets/less/uikit.less";

.storage-page {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-image: url("./../../assets/roulette-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.storage-wrapper {
  width: 100%;
  height: 100%;
  padding-top: @87px;
  .dr-items-wrap {
    height: 495 * @1px;
    width: 100%;
    overflow-y: scroll;
    .dr-roulette-items {
      width: 100%;
      .dr-item {
        flex-direction: column;
        .item-rarity-img {
          width: 100%;
          height: auto;
        }
        .item-img {
          width: @132px;
          height: auto;
        }
        .item-checkmark {
          width: @32px;
          height: @32px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: @25px;
          background: rgba(#fff, 0.2);
          box-shadow: 0px @5px @52px rgba(16, 134, 5, 0.55);
          border-radius: @20px;
          opacity: 0;
          transition: 0.3s;
          svg {
            height: @12px;
          }
        }
        .item-name {
          max-width: 100%;
          font-size: @16px;
          line-height: 100%;
          text-align: center;
          color: #fff;
          opacity: 0.6;
        }
        &.selected {
          .item-checkmark {
            opacity: 1;
            background: linear-gradient(
              131deg,
              #21ac0f 0%,
              #187e0b 60.42%,
              #0c4605 100%
            );
          }
        }
        &:hover {
          .item-checkmark {
            opacity: 1;
          }
        }
      }
    }
  }
}

.storage-header {
  font-style: italic;
  font-weight: 800;
  font-size: @60px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.storage-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 @47px 0 @54px;
  margin-top: @21px;
  margin-bottom: @15px;
}

.actions-header {
  float: left;
  font-style: italic;
  font-size: @24px;
}

.actions-buttons {
  display: flex;
  button {
    height: @62px;
    font-size: @16px;
    display: flex;
    .icon {
      svg {
        height: @20px;
      }
    }
  }
}

.actions-items {
  width: 1335 * @1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  overflow-y: scroll;
  height: @500px;
}

.prize-container {
  margin-right: @8px;
  margin-bottom: @8px;
}

.prizestorage__main {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 137.1296vh;
  max-height: 73.3806vh;
  min-width: 92.5926vh;
  min-height: 55.5556vh;
  left: -9.2593vh;
  top: 3.8704vh;

  &__main {
    position: relative;
    width: 100%;
    height: auto;
    left: -1.4815vh;
    top: -3vh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: @24px;
    margin-left: 0.9259vh;

    height: auto;
    max-height: 70vh;
    min-height: 73.7407vh;

    width: 100%;
    max-width: 139.3519vh;
    min-width: 140.5926vh;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: @16px @18px;
    overflow-y: auto;
  }

  &__item {
    position: relative;
    width: @232px;
    height: @316px;
    flex-shrink: 0;
    border-radius: @2px;
    border: @1px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(153, 153, 153, 0.05) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: @16px;
    img {
      position: absolute;
      left: 50%;
      top: 4vh;
      transform: translateX(-50%);
      max-width: @144px;
      max-height: 7vw;
      width: 100%;
      height: auto;
      flex-shrink: 0;
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: @8px;
    }
    &__title {
      color: #fff;
      text-align: center;
      font-family: Gilroy;
      font-size: @16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: @8px;
    }
    &__btn {
      display: flex;
      width: 100%;
      height: @40px;
      padding: @15px 0;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      gap: @3px;
      transition: all 0.3s ease-in-out;
      &:nth-child(2) {
        border-radius: @2px;
        border: @1px solid rgba(255, 255, 255, 0.1);
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(153, 153, 153, 0.05) 0%,
          rgba(255, 255, 255, 0.05) 100%
        );
        &:hover {
          transform: scale(1.05);
          border: 0.0926vh solid rgba(25, 138, 22, 0.3);
          background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(12, 107, 24, 0.08) 0%,
            rgba(11, 146, 22, 0.15) 100%
          );
        }
      }
      &:nth-child(3) {
        border-radius: @2px;
        border: 1px solid rgba(18, 158, 25, 0.3);
        background: rgba(14, 112, 22, 0.1);

        &:hover {
          transform: scale(1.05);
          border-color: rgb(21, 148, 17);
          background: rgba(13, 65, 6, 0.2);
          color: rgb(28, 117, 20);
        }
      }
      span {
        color: #187e0b;
      }
    }
  }

  &__header {
    position: relative;
    width: 100%;
    height: auto;
    // left: -1.4815vh;
    // top: -3vh;
    display: flex;

    &__back {
      // position: relative;
      width: 100%;
      height: auto;
      max-width: 8.0556vh;
      max-height: 3.7037vh;
      min-width: 5.5556vh;
      min-height: 2.7778vh;
      // left: -1.4815vh;
      // top: -3vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: @10px;
      padding: 0vh;

      color: rgb(255, 255, 255);
      font-family: Gilroy;
      font-size: 1.4815vh;
      font-weight: 400;
      line-height: 1.7593vh;

      &:hover {
        transform: scale(1.05);
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
      }
      &__btn {
        width: @40px;
        height: @40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: @1px solid rgba(255, 255, 255, 0.15);
        border-radius: @2px;
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(153, 153, 153, 0.08),
          rgba(255, 255, 255, 0.08) 100%
        );
        // margin: 0vh 0.9259vh;
        flex-shrink: 0;

        img {
          width: @15px;
          height: @7px;
          flex-shrink: 0;
        }
      }
    }
    &__title {
      position: absolute;
      left: @640px;
      // transform: translateX(-50%);

      color: #fff;
      text-align: center;
      text-shadow: 0px 0px @60px rgba(255, 255, 255, 0.5);
      font-family: DKallisto;
      font-size: @24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
