.pers {
  &_main {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    box-sizing: content-box;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 800px;
    align-items: start;

    &__parents {
      width: 100%;
      h1 {
        margin-left: 25px !important;
        margin-bottom: 10px !important;
      }
      .parent-boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .parent-box {
          width: 160px;
          height: 46px;
          border-radius: 2px;
          background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(153, 153, 153, 0.0408) 0%,
            rgba(255, 255, 255, 0.0424) 100%
          );
          border: 0.5px solid #ffffff26;

          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          padding: 0 10px;

          p {
            font-family: "Gilroy";
            font-weight: 400;
            font-size: 16px;
          }

          &:hover,
          &.selected {
            border: 0.5px solid #19bd0b99;
            background: radial-gradient(
              50% 50% at 50% 50%,
              rgba(6, 143, 13, 0.5) 0%,
              rgba(17, 109, 9, 0.265) 100%
            );
          }
        }
      }

      &-content {
        width: 380px;
        height: 410px;
        margin-left: 17px;

        overflow-y: auto;

        display: flex;
        justify-content: start;
        align-items: start;
        gap: 5px;
        flex-wrap: wrap;

        &::-webkit-scrollbar {
          width: 5px;
          display: block;
        }

        &::-webkit-scrollbar-thumb {
          background: #ffffff !important;
          border-radius: 5px;
        }

        &::-webkit-scrollbar-track {
          background: #ffffff1a;
          border-radius: 5px;
        }

        &-item {
          width: 86px;
          height: 96px;
          border-radius: 2px;

          background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(153, 153, 153, 0.0408) 0%,
            rgba(255, 255, 255, 0.0424) 100%
          );
          border: 0.5px solid #ffffff26;

          &:hover,
          &.selected {
            border: 0.5px solid #0ed80799;
            background: radial-gradient(
              50% 50% at 50% 50%,
              rgba(2, 150, 15, 0.5) 0%,
              rgba(8, 95, 5, 0.265) 100%
            );
          }

          img {
            overflow: hidden;
            width: 100%;
            height: 100%;
          }
        }
      }

      &__footer {
        width: 380px;
        margin-left: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &__face {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      &.hairstyle {
        gap: 10px;
      }

      &-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        &-item {
          width: 80px;
          height: 80px;
          border-radius: 2px;
          background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(153, 153, 153, 0.0765) 0%,
            rgba(255, 255, 255, 0.0795) 100%
          );
          border: 0.5px solid #ffffff26;
          transition: 0.3s;

          display: flex;
          justify-content: center;
          align-items: center;

          &:hover,
          &.selected {
            background: #0b630833;
            border: 1px solid #2e8822;
          }

          &.hairstyle {
            width: 115px;
            height: 86px;
          }
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        padding-right: 25px;
        width: 380px;
        gap: 15px;

        .pers__main__parents__footer {
          width: 100%;
        }

        &::-webkit-scrollbar {
          width: 5px;
          display: block;
        }

        &::-webkit-scrollbar-thumb {
          background: #ffffff !important;
          border-radius: 5px;
        }

        &::-webkit-scrollbar-track {
          background: #ffffff1a;
          border-radius: 5px;
        }
      }
    }
  }
  &__box {
    position: relative;
    width: 100%;
    background: radial-gradient(
      50% 63.15% at 50% 50%,
      rgba(17, 17, 19, 0) 0%,
      rgba(17, 17, 19, 0.8) 100%
    );
    padding: 50px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    h1.h-title {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      margin-left: 50px;
      font-family: "DKallisto";
      font-weight: 400;
      font-size: 16px;
    }

    h2.h-title {
      width: 350px;
      display: flex;
      justify-content: space-between;
      align-items: start;
      font-family: "Gilroy";
      font-weight: 400;
      font-size: 12px;
      margin-top: 5px;
      color: #5a5a5a;
    }
    .mb-15 {
      margin-bottom: 15px;
    }

    .mt-15 {
      margin-top: 15px;
    }
    .ml-0 {
      margin-left: 0 !important;
    }
    .mb-5 {
      margin-bottom: 5px;
    }
    .flex-left {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    .input-box {
      width: 332px;
      height: 46px;
      padding: 0 20px;
      color: #ffffff;
      border-radius: 2px;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(153, 153, 153, 0.0408) 0%,
        rgba(255, 255, 255, 0.0424) 100%
      );
      border: 0.5px solid #ffffff26;
      font-family: "Gilroy";
      font-weight: 400;
      font-size: 14px;

      &:focus {
        border: 0.5px solid #2e8822;
        outline: none;
      }
    }

    .parameter {
      width: 100%;

      .age-paramter {
        width: 372px;
      }
    }

    .parameter__line {
      width: 100%;
      height: 6px;

      input {
        width: 100%;
      }

      input[type="range"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: 4px;
        outline: none;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 50px;
        background-color: #ffffff;
        transition: background-color 0.3s ease-in-out;
      }

      input[type="range"]::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ffffff;
        transition: background-color 0.3s ease-in-out;
      }

      input[type="range"]::-ms-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ffffff;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    img {
      width: 100%;
    }
  }

  &__top,
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-rotate {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 184px;
      p {
        font-family: "Gilroy";
        font-weight: 400;
        font-size: 14px;
      }
    }

    &-save {
      background: #078d1d33;
      border: 1px solid #2e8822;
      width: 80px;
      aspect-ratio: 1;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
    }

    &-title {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 100;

      h1 {
        margin-bottom: 0px;
        display: flex;
        justify-content: start;
        align-items: start;
        text-transform: uppercase;
        gap: 7px;
        font-size: 24px;
        font-weight: 100;
        font-family: "DKallisto", Arial, sans-serif;
        span {
          color: #2e8822;
        }
      }

      p {
        font-family: "Gilroy", Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
      }
    }

    &-randomly {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 150px;
      height: 40px;
      border-radius: 2px;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(153, 153, 153, 0.0765) 0%,
        rgba(255, 255, 255, 0.0795) 100%
      );
      border: 0.5px solid #ffffff26;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        border: 0.5px solid #2e8822;
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(35, 139, 14, 0.5) 0%,
          rgba(12, 97, 4, 0.265) 100%
        );
      }

      p {
        font-family: "Gilroy";
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  &__main-left {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 420px;
    height: 437px;
    padding: 20px 0;
    background: linear-gradient(0deg, #111113, #111113),
      radial-gradient(
          90.9% 72.78% at 100% 0%,
          rgba(255, 123, 0, 0.06) 0%,
          rgba(255, 123, 0, 0) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      radial-gradient(
          75.14% 50% at 0% 0%,
          rgba(255, 255, 255, 0.06) 0%,
          rgba(255, 255, 255, 0) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 10px;
    &.auto {
      height: auto;
    }
    .gender {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      .gender-boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .gender-box {
          width: 160px;
          height: 46px;
          border-radius: 2px;
          background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(153, 153, 153, 0.0408) 0%,
            rgba(255, 255, 255, 0.0424) 100%
          );
          border: 0.5px solid #ffffff26;

          display: flex;
          justify-content: start;
          align-items: center;
          gap: 20px;

          padding: 0 10px;

          p {
            font-family: "Gilroy";
            font-weight: 400;
            font-size: 16px;
          }

          &:hover,
          &.selected {
            border: 0.5px solid #1fc40999;
            background: radial-gradient(
              50% 50% at 50% 50%,
              rgba(11, 134, 17, 0.5) 0%,
              rgba(4, 87, 4, 0.265) 100%
            );
          }
        }
      }
    }
  }

  &__main-right {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 20px;

    &-categories {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
    &-category {
      width: 80px;
      height: 80px;
      border-radius: 2px;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(153, 153, 153, 0.0765) 0%,
        rgba(255, 255, 255, 0.0795) 100%
      );
      border: 0.5px solid #ffffff26;
      transition: 0.3s;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover,
      &.selected {
        background: #0b8a1233;
        border: 1px solid #2e8822;
      }
    }
    &-content {
      width: 407px;
      height: 611px;
      max-height: 611px;
      padding: 15px 0;
      border-radius: 10px;
      display: flex;
      position: relative;
      background: linear-gradient(0deg, #111113, #111113),
        radial-gradient(
          90.9% 72.78% at 100% 0%,
          rgba(255, 123, 0, 0.06) 0%,
          rgba(255, 123, 0, 0) 100%
        ),
        radial-gradient(
          75.14% 50% at 0% 0%,
          rgba(255, 255, 255, 0.06) 0%,
          rgba(255, 255, 255, 0) 100%
        );
    }
  }

  &__colors {
    &.absolute {
      position: absolute;
      z-index: 100;
      bottom: 0;
      transform: translateY(calc(100% + 5px));
      * {
        margin-left: 0 !important;
      }

      display: flex;
      gap: 10px;

      h1 {
        margin-bottom: 10px !important;
      }
      .pers__colors__box {
        padding: 10px 0px 23px 7px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        background: linear-gradient(0deg, #111113, #111113),
          radial-gradient(
              90.9% 72.78% at 100% 0%,
              rgba(255, 123, 0, 0.06) 0%,
              rgba(255, 123, 0, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          radial-gradient(
              75.14% 50% at 0% 0%,
              rgba(255, 255, 255, 0.06) 0%,
              rgba(255, 255, 255, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

        h1.h-title {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
        }
      }
      .colors {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        gap: 5px;
        max-height: 164px;
        overflow-y: auto;
        width: 180px;
        padding-left: 0;
        padding-right: 12px;
        margin-top: 5px;
        background: linear-gradient(0deg, #111113, #111113),
          radial-gradient(
              90.9% 72.78% at 100% 0%,
              rgba(255, 123, 0, 0.06) 0%,
              rgba(255, 123, 0, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          radial-gradient(
              75.14% 50% at 0% 0%,
              rgba(255, 255, 255, 0.06) 0%,
              rgba(255, 255, 255, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        .color__item {
          width: 35px;
          height: 35px;
          border-radius: 2px;
          transition: 0.3s;
          border: 0.5px solid #545455;

          &:hover,
          &.selected {
            border: 1px solid #2e8822;
          }
        }
      }
    }
  }
  &__add__btn {
    margin: 0 17px;
    &__content {
      padding: 0 10px;
      height: 46px;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(153, 153, 153, 0.051) 0%,
        rgba(255, 255, 255, 0.053) 100%
      );
      border: 0.5px solid #ffffff26;

      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-bottom: 0;
        font-family: "Gilroy";
        font-weight: 400;
        font-size: 16px;
      }

      img {
        border: 0.5px solid #ffffff26;
        transition: 0.3s;

        &:hover {
          border: 0.5px solid #32b10b99;
        }
      }
    }

    h1 {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      margin-bottom: 10px;
      font-family: "DKallisto";
      font-weight: 400;
      font-size: 16px;
    }
  }
}

.age-parameter {
  width: 372px;
}

.colors {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0 20px;
  max-height: 350px;
  overflow-y: auto;
  margin-top: 20px;

  &::-webkit-scrollbar {
    width: 5px;
    display: block;
  }

  &::-webkit-scrollbar-thumb {
    background: #ffffff !important;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff1a;
    border-radius: 5px;
  }

  &__item {
    width: 38px;
    height: 40px;
    border-radius: 2px;
    transition: 0.3s;
    border: 0.5px solid #545455;

    &:hover,
    &.selected {
      border: 1px solid #2e8822;
    }
  }
}
